#top-navbar{
    height:60px;
}

.tray-icon{
    width: 30px;
    height: 30px;
    background: lightgray;
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 0px 3px 0px 3px; 
}
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.full-container{
    max-width: 100%;
    min-height: 90%;
}

.full-container #task-panes{
    max-width: 100% !important;
    min-height: 100% !important;
}

#scratchpad{
    background: #fff;
}

.span-type{
    display: inline-block !important;
    vertical-align: top !important;
}

.child-header{
    font-size: 13px;
    color:#303030;
}

.child-header-text{
    font-size: 15px;
    color:#707070;
}
.util-wind-left{
    margin-left: 5px;
    background: #F8F8F8;
    
}

.layer-item{
    margin: 2px;
    width: 100%;
}

.layer-item-icon{
    display: inline-block;
    vertical-align: middle;
    width:25px;
    height: 25px;
    padding: 3px;
}

.layer-item-text{
    font-size:13px;
    margin-left: 5px;
    text-transform: none !important;
}

.wind-name{
    background: #707070;
    font-size:14px;
    color:#fff;
    width: 100%;
    text-align: center;
}

#model-desc{
    overflow: auto;
    overflow-x:hidden; 
}

.code-cmdargs{
    width:100%;
    padding:5px;
    color: #fff;
    background:#404040;
    text-align:  center;
}

#scratchpad{
    margin: 0px;
    padding: 0px;
}

.regs-cmd-name{
    display: inline-block !important;
    vertical-align: top !important;
    font-size:15px;
    margin: 0px 5px;
}

.regs-cmd-name .cmd-type{
    border: 1px solid #4885ed;
    color: #4885ed;
    padding: 3px;
    box-shadow:0px 0px 2px 2px #4885ed;
}

.regs-cmd-name .cmd-var-name{
    margin-left:5px;
    text-transform: none;
}

#model-toolbox{
    width:1005;
    height: 200px;
    border-radius:5px;
    background: transparent;
    padding: 3px;
    line-height:  2.5;
    font-size:14px;
    visibility: hidden;
}

#model-toolbox .inpvarname{
    display:inline;
}

#sub-controls{
    background: #404040 !important;
}

.heyo:hover {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
.svg-compo-tooltip {
    cursor: pointer;
  }
  
.svg-tooltip {
    pointer-events: none;
    position: absolute;
    font-size: 15px;
    text-align: center;
    background: #303030;
    padding:3px;
    z-index: 5;
    height: auto;
    line-height: 30px;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
  }
  .svg-tooltip.active {
    display: block;
  }
  .svg-tooltip:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #303030;
  }

#icon-tray .model-name-inp{
    background: transparent;
    border: 0px 0px 2px 0px;
    width:20%;
    display: inline-block;
    vertical-align: top;
}

.navbar-nav{
    display: inline-block;
    vertical-align: top;
}

.navbar-nav li.nav-item{
    display: inline;
}